<div class="text_align">
    <div class="col-md-24">
      <div class="pb-3 center align">
        <div class="pb-2">
          <span class="col-lg-12 value">Please login as a participant to participate in a campaign!</span>
        </div>
      </div>
    </div>
  </div>
  <div class="closer">
  <!-- <button class="btn btn-primary mr-3 size" (click)="close()">Close</button></div> -->
  <div class="login-form-row">
    <button class="btn btn-primary col-md-3 register_color" (click)="close()">Close</button>
    <button class="btn btn-primary col-md-3 register_color" (click)="login()">Login</button>
    <!-- <a class="btn btn-gradient text-white btn-radius" *ngIf="isLogin" (click)="onLogout()">Logout</a> -->
  </div>