<div>
  <h3>Change Password</h3>
  <form [formGroup]="passwordForm">
    <div class="row pt-5">
      <div class="col-sm-6 mb-4">
        <input type="password" placeholder="Old Password" formControlName="old_pass"/>
        
        <div *ngIf="passwordForm.get('old_pass').errors">
          <span *ngIf="passwordForm.get('old_pass').touched && !passwordForm.get('old_pass').valid && !passwordForm.get('old_pass').value" class="validate-errors pt-3 float-left">Enter Old Password</span>
        </div> 
      </div>
      <div class="col-sm-6 mb-4">
        <input type="password" placeholder="New Password" formControlName="new_pass"/>

        <div *ngIf="passwordForm.get('new_pass').errors">
          <span *ngIf="passwordForm.get('new_pass').touched && !passwordForm.get('new_pass').valid && !passwordForm.get('new_pass').value" class="validate-errors pt-3 float-left">Enter New Password</span>
        </div> 
        <span *ngIf="passwordForm.get('old_pass').valid && passwordForm.get('new_pass').valid && (passwordForm.get('old_pass').value === passwordForm.get('new_pass').value)" class="validate-errors pt-3 float-left">Your old password and new password is same</span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 mb-4">
        <input type="password" placeholder="Confirm New Password" formControlName="confirm_pass"/>

        <div *ngIf="passwordForm.get('confirm_pass').errors">
          <span *ngIf="passwordForm.get('confirm_pass').touched && !passwordForm.get('confirm_pass').valid && !passwordForm.get('confirm_pass').value" class="validate-errors pt-3 float-left">Enter Confirm Password</span>
        </div> 
        <span *ngIf="passwordForm.get('new_pass').valid && passwordForm.get('confirm_pass').valid && (passwordForm.get('new_pass').value != passwordForm.get('confirm_pass').value)" class="validate-errors pt-3 float-left">New Password and Confirm Password must be same</span>
      </div>
    </div>
  </form>
  <div class="row pt-4 pl-3">
    <button class="btn btn-primary mr-3" (click)="onSubmit()">Update</button>
    <button class="btn btn-secondary" (click)="onCancel()">Cancel</button>
  </div>
</div>