<div class="result">
    <div class="message">
        <div class="success"><i class="fa fa-check-circle"></i>
        </div>
        <h2>Subscribed Successfully</h2><br />

        <p> You've sucessfully subscribed on Remco. You can access all the subscribed features in this package. </p><br />
        <p> We have sent subscription detailes to your email. Please check and enjoy our services. </p><br />
        <!-- <div [mat-dialog-close]="true" class="btn join-now-btn"><a>Close</a></div> -->
    </div>
</div>
<!-- <button class="btn btn-gradient btn-radius" (click)="close()">Close</button> -->
