.company{
text-align: center;
}
hr.new4 {
border: 1px solid #00aeef;
width:100px;

}
.align{
    margin-top: 20px;
    height: 130px;
    overflow: auto;
}
.profile_image{
    height: 250px;
    width: 250px;
    border-radius: 50%;
}
.text_align{
    text-align: center;
}
.value{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}
.closer{
    margin-top: 5px;
    text-align: center;
}
.post{
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #000;
}